.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 50px;
}

.page-title {
  font-size: 50px;
  margin-bottom: 0;
  color: #444;
}

.page-description {
  font-size: 16px;
  color: #888;
  text-align: center;
}

.page-description > a {
  text-decoration: underline;
}

.form-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.form-wrapper > .input-wrapper > input {
  font-size: 26px;
  border-radius: 20px;
  padding: 10px 20px;
  height: 70px;
  overflow: hidden;
  min-width: 600px;
  font-weight: bold;
  outline: none !important;
  border: 3px solid #888;
  color: #888;
  box-sizing: border-box;
}

.form-wrapper > .input-wrapper > .error {
  color: #999;
  margin: 5px 0;
  text-align: center;
  width: 100%;
}

.form-wrapper > .input-wrapper > input::placeholder {
  color: #ccc;
  opacity: 1;
}

.form-wrapper > .input-wrapper > input:hover {
  border-color: #444;
}

.form-wrapper > button {
  outline: none !important;
  font-size: 30px;
  background-color: transparent;
  border-radius: 20px;
  padding: 0 20px;
  height: 70px;
  overflow: hidden;
  margin-left: 10px;
  cursor: pointer;
  border: 3px solid #888;
  color: #888;
}

.form-wrapper > button:hover {
  color: #444;
  border-color: #444;
}

.result-title {
  margin: 50px 0 10px;
  font-size: 20px;
  color: #444;
}

.result-link-wrapper {
  display: flex;
  align-items: center;
}

.result-link-wrapper > .shorten-url {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  color: #222;
  margin: 0;
}

.result-link-wrapper > .copy-button {
  background-color: #444;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.result-link-wrapper > .copy-button:hover {
  background-color: #222;
}

.github {
  position: fixed;
  bottom: 15px;
  width: 100%;
  text-align: center;
  margin: auto;
  display: table;
  font-weight: bold;
  animation: blinker 1.5s linear infinite;
  font-size: 14px;
  color: #444;
  text-decoration: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 700px) {
  .content-wrapper {
    padding: 10px;
  }

  .page-title {
    font-size: 30px;
  }

  .page-description {
    font-size: 12px;
    margin: 10px;
  }

  .form-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-wrapper > .input-wrapper > input {
    font-size: 16px;
    padding: 15px;
    height: 55px;
    overflow: hidden;
    min-width: auto;
    width: 90%;
  }

  .form-wrapper > button {
    font-size: 16px;
    padding: 0 10px;
    height: 45px;
    margin-top: 10px;
  }

  .result-title {
    margin: 50px 0 10px;
    font-size: 18px;
  }

  .shorten-url {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
  }

  .github {
    font-size: 12px;
  }
}

@media only screen and (max-width: 900px) {
  .form-wrapper > .input-wrapper > input {
    min-width: 400px;
  }
}
